<p>doc-viewer-component works!</p>

<!--<tx-document-viewer width="1000px"
                    height="800px"
                    basePath="https://www.server.com:5000"
                    dock="Window"
                    [toolbarDocked]="true"
                    documentPath="test.docx"
                    [isSelectionActivated]="true"
                    [showThumbnailPane]="true">
</tx-document-viewer>-->

<div class="pdf-container">
    <pdf-viewer [src]="src"
                [zoom]="1"></pdf-viewer>
</div>
