<div class="p-grid">
    <div class="p-col-12">
        <p-dialog [(visible)]="clientDialog" [style]="{width: '900px'}" [header]=addEditHeaderText [modal]="true" styleClass="p-fluid" [closable]="true" (onHide)="close()">
            <form [formGroup]="addEditClientForm">
                <div class="p-col-12">
                    <div class="p-fluid p-formgrid p-grid mobile-display-block">
                        <div class="p-md-4  p-pt-0">
                            <label for="firstname6">Company *</label>
                            <p-dropdown [options]="companyList" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditClientControls.CompanyID.errors }"
                                        appendTo="body"
                                        formControlName="CompanyID"
                                        placeholder="Select Company"
                                        optionValue="companyID"
                                        optionLabel="companyName"></p-dropdown>
                        </div>
                        <div class="p-md-4 p-pt-0">
                            <label for="firstname6">Name *</label>
                            <input type="text" pInputText formControlName="ClientName" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && addEditClientControls.ClientName.errors }">
                        </div>
                        <div class="p-md-4 p-pt-0">
                            <label for="firstname6">Client Type *</label>
                            <p-dropdown [options]="clientTypeListValues" [ngClass]="{ 'is-invalid-dropdown': submitted && addEditClientControls.ClientTypeID.errors }"
                                        appendTo="body"
                                        formControlName="ClientTypeID"
                                        placeholder="Select Client Type"
                                        optionValue="listValueID"
                                        optionLabel="value"></p-dropdown>
                        </div>
                        <div class="p-md-4 p-pt-0">
                            <label for="firstname6">Markup (%) </label>
                            <p-inputNumber formControlName="Markup" mode="decimal" inputId="withoutgrouping" placeholder="Markup" [useGrouping]="false">
                            </p-inputNumber>
                        </div>
                    </div>
                    <div class="p-col-12" style="padding-right: 0px; display: flex; justify-content: end; padding-top: 1rem;">
                        <div style="display: flex;">
                            <button pButton pRipple type="button" label="Save" class="p-button-raised p-mr-2 p-mb-2" [disabled]="isSaveButtonDisabled" (click)="saveClient()"></button>
                            <button pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-danger  p-mb-2" style="margin-right: 0px !important; " (click)="Cancel()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
