:host ::ng-deep .p-paginator {
    display: flex;
    align-items: center;
    justify-content: end !important;
    flex-wrap: wrap;
}

.invalid-feedback {
    color: #E91E63;
    display: block;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}
:host::ng-deep .notes-icons {
    .p-button.p-button-icon-only {
        border-radius: 0;
        height: auto;
        width: auto !important;

        .fa {
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 769px) {
    .mobile-display-block {
        display: block !important;
    }

    .mobile-display-grid {
        display: grid !important;
    }
}
