.invalid-feedback {
    color: #E91E63;
    display: block;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}
:host ::ng-deep .is-invalid-dropdown {
    .p-dropdown {
        outline: 1px solid #E91E63;
    }

    .p-chips .p-chips-multiple-container {
        outline: 1px solid #E91E63;
    }
}
     
